// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@fiery-red: #ff3522; //Fiery Red
@red: #c9403f; //Red
@warm-orange: #ff9900; //Warm Orange
@beige: #dfc99f; //Beige
@light-pink: #ff9999; //Warm Light Pink
@orange: #de935f; //Default Orange
@light-orange: #f0c674; //Default Light Orange
